.shadow-topbar {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}

.topbar #sidebarToggleTop {
    color: #fff;

    &:hover {
        background: #5a5c69;
    }

    &:active {
        background: #5a5c69;
    }
}

.topbar.navbar {
    background: #4e73df!important;

    .navbar-nav {
        .nav-item {
            .nav-link {
                .img-profile {
                    background: #fff!important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    } 
}

.sidebar-brand-logo {

    height: 220%;

    img {
        height: 100%;
    }
}

.login-logo {
    height: 70px;

    .login-brand-logo {
        height: 100%;
        img {
            height: 100%;
        }
    }
    .brand-text {
        font-size: 1rem;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .05rem;
        z-index: 1;
    }
}

.card-link {

    .card {
        transition: all 200ms ease-in-out;
    }

    .card-link-icon {
        transition: all 200ms ease-in-out;
    }
    
    &:hover {
        
        .card {
            box-shadow: 0 .15rem 0.75rem 0 rgba(37, 38, 44, 0.24)!important
        }
        
        .card-link-icon {
            color: #b7b9cc!important;
        }
    }
}

